input[type="checkbox"]  {
  display: none;
}


input[type="checkbox"] {
  position: relative;
  padding-left: 35px;
  display: inline-block;
  font-size: 23px;
}

input[type="checkbox"]:before {
  content: "\1F5A4";
  top: -16px;
  left: -16.5px;
  border: 1px solid transparent;    
  padding: 10px;
  border-radius: 3px;
  display: block;
  position: absolute;
transition:  .5s ease;
}



input[type="checkbox"]:checked:before {
  border: 1px solid transparent;
  background-color: transparent;
}

input[type="checkbox"]:checked:after {
  content: '\1F49B';
  font-size: 25px;
  position: absolute;
  top: -6.1px;
  left: -6.5px;
  
transition:  .5s ease;
}