.search-header-favorites {
  position: absolute;
  display: flex;
  width: 250px;
  height: 200vh;
  left: 0px;
  top: 0px;
  
  
  background: #FFFFFF;
  }


.fav-musics-text {
  position: absolute;
width: 337.2px;
height: 24.89px;
left: 596px;
top: 101px;

font-family: 'Epilogue';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 25px;
text-align: center;

color: #FFFFFF;


}

.favs-container {
  position: absolute;
  top: 350px;
  left: 680px;
  
}

.favs-main-audio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  
  width: 700px;
  height: 1000px;

}


  