.loading-container {
  position: absolute;
width: 321px;
height: 50px;
left: 800px;
top: 450px;

font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 48.9205px;
line-height: 50px;
text-align: center;

/* color: #C0C3C9; */
color: rgba(0, 0, 0, 0.825);
z-index: 3;
}

@media (prefers-reduced-motion: no-preference) {
  .loading-icon {
    animation: loading-icon-spin infinite 2s linear;
  }
}

@keyframes loading-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

